$dark-blue-color: rgba(26, 32, 44, 1);
$normal-blue-color: rgba(61, 82, 120, 1);
$light-blue-color: rgba(144, 163, 191, 1);
$sky-blue-color: rgba(53, 99, 233, 1);
$white-color: rgba(255, 255, 255, 1);
$black-color: rgba(19, 19, 19, 1);


